<link rel="stylesheet" href="/styles/user_menu.css" type="text/css" />

<div class="user_menu">
   <!-- User profile header -->
   <div class="user_menu_profile">
    <!-- User avatar and name -->
    <img src="/docs/icons/<%=user.user_icon%>" alt="User Avatar">
    <h1>
      @<%=user.username%>
    </h1>
  </div>
  <ul>
    <li>
      <i class="fa-solid fa-house" style="color: #d90429;"></i>
      <a class="user_menu_link" href="/stories">Home</a>
    </li>
    <li>
      <i class="fa-solid fa-user" style="color: #d90429;"></i>
      <a class="user_menu_link" href="/user/<%= user_id %>">Profile</a>
    </li>
    <li>
      <i class="fa-solid fa-pencil" style="color: #d90429;"></i>
      <a class="user_menu_link" href="/user/<%= user_id %>/contributions">Contributions</a>
    </li>
    <li>
      <i class="fa-solid fa-book" style="color: #d90429;"></i>
      <a class="user_menu_link" href="/user/<%= user_id %>/stories">My Stories</a>
    </li>
    <li>
      <i class="fa-solid fa-plus" style="color: #d90429;"></i>
      <a class="user_menu_link" href="/user/<%= user_id %>/new_story">Create a new story</a>
    </li>
  </ul>
</div>
