<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Required Links -->
  <%- include('../partials/defaultLinks.ejs'); %>

  <!-- Internal Styles -->
  <link rel="stylesheet" href="/styles/storyindex.css" />


  <!-- Internal Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>

</head>
<%- include('../partials/_user_menu'); %>
  <%- include('../partials/_user_navbar'); %>
  <!-- Main story box -->
  <section class="main_story_container">
    <ul>
      <% for(let story of stories) { %>
        <article class="mainstory">
          <section class="usernameusericon">
            <img class="usericon" src="/docs/icons/<%=story.user_icon%>" alt="">
            <div class="userposttime">
              <h2 class="user">@<%=story.username%></h2>
              <text class="posttime"><%=story.created_date%></text>
            </div>
          </section>
          <section class="titlebody">
            <h1 class="maintitle"><%=story.title%></h1>
            <p class="story"><%=story.content%></p>
          </section>
          <section class="counterbuttons">
            <div class="likecounter">
              <i class="fa-solid fa-heart like-button"></i>
              <div class="like-count"><%=story.upvote_count%></div>
            </div>
            <div class="buttons">
              <a href="/stories/<%=story.story_id%>" class="readbutton">Read More</a>
              <% if (!story.is_complete) { %>
              <a href ="/add_to_story/<%=story.story_id%>" class="contributebutton">Contribute</a>
              <% } %>
            </div>
          </section>
        </article>
     <% } %>
    </ul>
  </section>
</body>
</html>
