<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External Styles (text/icons) -->
  <%- include('../partials/defaultLinks.ejs'); %>

    <!-- Internal Styles -->
    <link rel="stylesheet" href="/styles/story.css" />

    <!-- Internal Scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/likebutton.js"></script>
    <script defer src="/scripts/hidecontributions.js"></script>

</head>

<body>
  <%- include('../partials/_user_menu'); %>
    <%- include('../partials/_user_navbar'); %>

      <!-- Main story box -->
      <section class="story_container">
        <article class="mainstory">
          <section class="titlebody">
            <h1 class="maintitle">
              <%=title%>
            </h1>
            <p class="story">
              <%=content%>
            </p>
          </section>
          <section class="usercounter">
            <section class="user">@<%=username%>
            </section>
            <!--DO NOT SEPERATE LIKE-BUTTON FROM LIKE-COUNT-->
            <div class="likecounter">
              <button class="like-button"><i class="fa-solid fa-heart heart"></i></button>
              <div class="like-count">0</div>
            </div>
            <!--DO NOT SEPERATE LIKE-BUTTON FROM LIKE-COUNT-->
          </section>
        </article>
        <div class="navbuttons">
          <div class="storybuttons">
            <a href="/stories/<%=id%>/add" class=addstory>Add to Story</a>
            <button id=viewadds>View Contributions</button>
          </div>
          <!--Should remove next page button if no next page-->
          <% if (nextpageid) { %>
            <a href="<%=nextpageid%>" class="next">Next Page</a>
            <% } %>
        </div>

      </section>

      <!-- Contributions -->

      <!-- Hides contributions associated with story by default and loops through contributions array to display all contributions-->
      <section class="contributions hiddentext">
        <h2 class="subheader">Contributions</h2>
        <% for (let contribution of contributions) {%>
          <article class="maincontribution">
            <p class="contributionstory">
              <%=contribution.content%>
            </p>
            <section class="usercounter">
              <section class="user">@<%=contribution.username%>
              </section>
              <!--DO NOT SEPERATE LIKE-BUTTON FROM LIKE-COUNT-->
              <div class="likecounter">
                <button class="like-button"><i class="fa-solid fa-heart"></i></button>
                <span class="like-count">0</span>
              </div>
              <!--DO NOT SEPERATE LIKE-BUTTON FROM LIKE-COUNT-->
            </section>
          </article>
          <% } %>
      </section>
</body>

</html>