<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External Styles (text/icons) -->
  <%- include('../partials/defaultLinks.ejs'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />


    <!-- Internal Styles -->
    <link rel="stylesheet" href="/styles/story.css" />

    <!-- Internal Scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/likebutton.js"></script>
    <script defer src="/scripts/hidecontributions.js"></script>

</head>

<body>
  <%- include('../partials/_user_menu'); %>
    <%- include('../partials/_user_navbar'); %>

      <!-- Main story box -->
      <section class="story_container">
        <article class="mainstory">
          <section class="titlebody">
            <h1 class="maintitle">
              <%=story.title%>
            </h1>
            <p class="story">
              <%=story.content%>
            </p>
          </section>
          <footer class="postfooter">
            <section class="usercounter">
              <div class="user_info_footer">
                <img class="usericon" src="/docs/icons/<%=story.user_icon%>" alt="">
                <section class="user">@<%=story.username%>
                </section>
              </div>
              <!--DO NOT SEPERATE LIKE-BUTTON FROM LIKE-COUNT-->
              <div class="likecounter">
                <button class="like-button"><i class="fa-solid fa-heart heart"></i></button>
                <div class="like-count">
                  <%=story.upvote_count%>
                </div>
              </div>
              <!--DO NOT SEPERATE LIKE-BUTTON FROM LIKE-COUNT-->
            </section>
          </footer>
        </article>
        <% if (story.is_complete != true) { %>
          <div class="storybuttons">
            <a href ="/add_to_story/<%=story.id%>" class=addstory>Add to Story</a>
            <button id=viewadds>View Contributions</button>
          </div>
          <% } %>
          
        </section>
        
        <!-- Contributions -->
        
        <!-- Hides contributions associated with story by default and loops through contributions array to display all contributions-->
        
      <section class="view_contributions animate__animated animate__slideInUp" style="display: none">
        <h2 class="subheader">Contributions</h2>
        <% for (let contribution of contributions) {%>
          <% if (!contribution.is_approved) { %>
          <article class="maincontribution">
            <p class="contributionstory">
              <%=contribution.content%>
            </p>
            <section class="usercounter">
              <div class="user_info_footer">
                <img class="usericon" src="/docs/icons/<%=contribution.user_icon%>" alt="">
                <div class="user">
                  @<%=contribution.username%>
                </div>
              </div>
              <!--DO NOT SEPERATE LIKE-BUTTON FROM LIKE-COUNT-->
              <div class="likecounter">
                <button class="like-button"><i class="fa-solid fa-heart"></i></button>
                <span class="like-count">
                  <%=contribution.upvote_count%>
                </span>
              </div>
              <!--DO NOT SEPERATE LIKE-BUTTON FROM LIKE-COUNT-->
            </section>
          </article>
          <% } %>
        <% } %>
      </section>
</body>

</html>